{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block header_title %}{% trans "Accounts" %}{% endblock %}

{% block content %}
<div class="content-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{% trans "Reset Your Password" %}</h2>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                
                <form class="short-form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">{% csrf_token %}
                    {% bootstrap_form form %}
                    <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
                </form>
                <hr />
                
                <p>{% blocktrans %}Please <a href="mailto:help@code4maine.org">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
