{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="content-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <h2>{% trans "Sign Up" %}</h2>
               <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
               <p>From the login page, you can also use your Github or Google account to login without creating a new profile here.</p>
                        
               <form class="short-form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
               {% bootstrap_form form %}
               {% if redirect_field_value %}
               <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
               {% endif %}
               <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
               </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}


{% block extra_js %}
    <script>
        $("#id_username").focus();
    </script>
{% endblock %}
