{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load avatar_tags %}

{% block header_title %}Brigade Directory{% endblock %}

{% block header %}
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Worker Positions</h1>
                        <hr class="intro-divider">
                        <p><i>The folks who make this brigade work.</i></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
{% endblock header %}

{% block content %}
<div class="content-main">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% for position in object_list %}
                <h3><a href="{{position.get_absolute_url }}">{{position.title}}{{ position.worker_set.all|pluralize }}</a></h3>
                <p>{{position.worker_set.all.0}}</p>
                <p>{{position.description|markdown}}</p>
                {% if not forloop.last %}<hr />{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
