{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load avatar_tags %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Brigade Workers Directory</h1>
        <h3><span class="badge">{{object_list|length}} worker{{object_list|length|pluralize}}</span></h3>
        
        {% for worker in object_list %}
        <div class="row">
            <div class="col-md-4">
                <h3><span class="th" >{% avatar worker.user 65 %}</span> <a href="{{worker.get_absolute_url }}">{% if worker.name %}{{worker.name}} ({{worker.user.username}}){% else %}{{worker.user.username}}{% endif %}</a></h3>
            </div>
        </div>
        <hr />
        {% endfor %}
    </div>
</div>
{% endblock %}