{% extends "dashboard_base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block header_title %}Account{% endblock %}

{% block content %}
<div class="content-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Update Your Profile</h2>
        
                <form class="short-form" method="post" action=".?next={{request.GET.next}}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <p><input class="btn btn-primary" type="submit" value="Update"></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
