{% extends "base.html" %}
{% load avatar_tags %}
{% load markdown_deux_tags %}

{% block header_title %}{{object}}{% if object.name %} ({{object.user}}){% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">

                  {% with object as worker %}
                
                  <div class="th" >{% avatar object.user 150 %}</a></div>
                
                  <h4>Why am I part of Code 4 Maine?</h4>
                  {{worker.why|markdown}}
                  
                  <h4>My personal webiste</h4>
                  <p>{{worker.website|urlize}}
                
                  <h4>My phone number</h4>
                  <p>{{worker.phone}}</p>
                
                  <h4>I live in</h4>
                  <p>{{worker.city}}</p>
                  {% endwith %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
