body { font-family:"Roboto"; }
.links { font-size:24pt; }
.project-card .description {  }

.row.full_width { max-width:100%; width:100%;  }
.page-header { background:url('../images/code4maine-logo-small.png') no-repeat; width:400px; height:300px; text-indent:-9999px; display:inline; float:left; border:none;}
.footer { padding:20px; }
#header, #footer { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0;
                   margin-bottom: 0; max-width: 62.5rem; }
.circle.small { width:20px !important; height:24px !important; border-radius:400px; font-size:14pt; color:#fff; text-align:center; background:#000; display:inline;}
.nav .fa { font-size:12pt; }
.new-menu { margin-top:12px; }

.member-thumbs { display:block; }
.th { float:left; margin-right:10px;  }
.socialaccount_provider { font-size:14pt; }
.socialaccount_providers { margin:0; padding:0; clear:both; display:block }
.socialaccount_providers li { list-style:none; float:left; margin-right:5px; font-size:16pt;}
.socialaccount_ballot { margin-bottom:80px; }
.short-form { width:300px;}
.modal-form { margin-left:20px; margin-right:20px; }

.project-badge { font-family:Impact; font-size:22pt; }
.badge a { color:white;}

.control-label { margin-right:10px; }

.right { float:right;  }
.left { float:left;  }
.project-add { margin-top:25px; }
.header h1 { float:left;  }
.member-box { margin-left:15px;  }
.why { font-size:larger; }
.social-btns { list-style:none; margin-top:10px; font-size:16pt; padding-left:5px;}
.social-btns li {}
