{% extends "dashboard_base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

<div class="content-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Update your profile</h2>

                <form method="post" action=".?next={{request.GET.next}}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <p><input type="submit" value="Save"></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}