{% extends "biblion/base.html" %}
{% load markdown_deux_tags %}

{% block header_title %}Blog{% endblock %}

{% block content %}
<div class="content-main">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>{{post}}</h2>
                <p><em>by</em> <b>{{post.author}}</b></h4>
                <p>{{post.content_html|safe}}</p>
                <br/>
                <p>Published on <em>{{post.published|date:"F d, Y"}}</em></p>
            </div>
        </div>
        <hr />
        <p><a class="btn btn-primary" href="{% url 'blog' %}">Blog Home</a></p>
    </div>
</div>
{% endblock %}
