{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block header_title %}Blog{% endblock %}

{% block header %}
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Major Initiatives</h1>
                        <hr class="intro-divider">
                        <p><i>The guide posts for our members, not the only way to hack!</i></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

{% endblock header %}
