{% extends "homepage/base.html" %}
{% load markdown_deux_tags %}

{% block header_title %}Partner{% endblock %}

{% block header %}
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Partners</h1>
                        <hr class="intro-divider">
                        <p><i>Helping each other improve the lives of citizens.</i></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
{% endblock header %}

{% block content %}
<div class="content-main">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% if object.partner_type %}<h3>{{object.partner_type}} Partner</h3>{% endif %}
                <h2>{{object}}</h2>
                <img src="{{object.logo.url}}" />
                <p>{{object.description|safe}}</p>
                <br/>
                <p>Published on <em>{{object.published|date:"F d, Y"}}</em></p>
            </div>
        </div>
        <hr />
    </div>
</div>
{% endblock %}
