{% extends "base.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block body_js %}
<script src="{% static 'js/eldarion-ajax.min.js' %}"></script>
{% endblock %}

{% block content %}

<h2>{{object}}</h2>

<div class="row project-card">
    <div class="small-12">
        <div class="row">
            <div class="small-6 columns description">
                {{project.description|markdown}}
                <p><i>Founded on {{project.created|date:"r"}} by {{project.founder.username}}</i></p>
            </div>
            <div class="small-6  columns members">
                <h5>Members</h5>
                {% with project.members.all as members %}
                {% include 'honey/_member_list.html' %}
                {% endwith %}
                <hr />
                {% if request.user.is_authenticated %}
                {% if request.user in project.members.all %}<p class="leave-button" ><a href="{% url 'project-leave' project.slug %}" class="tiny button radius ajax alert" data-replace=".leave-button"><i class="fa fa-times"></i> Leave project</a></p>{% endif %}
                {% if not request.user in project.members.all %}<p class="join-button" ><a href="{% url 'project-join' project.slug %}" class="tiny button radius ajax success" data-replace=".join-button"><i class="fa fa-plus"></i> Join project</a></p>{% endif %}
                {% endif %}
            </div>
        </div>
        <p class="links">{% if project.public_url %}<a href="{{project.public_url}}"><i class="fa fa-globe"></i></a>{% endif %}{% if project.github_url %} <a href="{{project.github_url}}"><i class="fa fa-github"></i></a>{% endif %}</p>
        {% if project.dev_url %}<p>Development: {{project.dev_url|urlize}}</p>{% endif %}
        <p>Built with: {% for tech in project.technologies.all %}<a href="{{tech.get_absolute_url}}">{{tech}}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</p>
        {% if user.is_authenticated %}<a href="{% url 'project-update' project.slug %}" class="button tiny radius">Edit project</a>{% endif %}
        <hr />
    </div>
</div>
<div class="row">
    <div class="small-12">
        <h4>Project buzz</h4>
        {% if project.buzz.all %}
        {% for buzz in project.buzz.all %}
        <h5>{{buzz.title}}</h5>
        <div class="panel">
            {{buzz.content}}
            <p class="byline">{{buzz.updated_at}} by <a href="{{buzz.author.get_absolute_url}}">{{buzz.author}}</a></p>
        </div>
        {% endfor %}
        {% else %}
        <p><i>There's no buzz about this project, find some fellow workers, and get busy!</i></p>
        {% endif %}
        <p>{% if user.is_authenticated %}<a href="" class="tiny button radius ">Add some buzz</a>{% endif %}</p>
    </div>
</div>

{% endblock %}