{% extends "base.html" %}
{% load avatar_tags %}

{% block content %}

<h2>{{object}}</h2>

<div class="row project-card">
    <div class="small-12">
        <div class="row">
            <div class="small-6 columns description">
                {{project.description|safe}}
            </div>
            <div class="small-6  columns members">
                <h5>Members</h5>
                {% for member in project.members.all %}
                <div class="th" ><a href="{% url 'worker-detail' member.username %}">{% avatar member 65 %}</a></div>
                {% endfor %}
                <hr />
                <p><a href="" class="tiny button radius"><i class="fa fa-plus"></i> Add a new member</a></p>
            </div>
        </div>
        <p class="links">{% if project.public_url %}<a href="{{project.public_url}}"><i class="fa fa-globe"></i></a>{% endif %}{% if project.github_url %} <a href="{{project.github_url}}"><i class="fa fa-github"></i></a>{% endif %}</p>
        {% if project.dev_url %}<p>Development: {{project.dev_url|urlize}}</p>{% endif %}
        <p>Built with: {% for tech in project.technologies.all %}<a href="{{tech.get_absolute_url}}">{{tech}}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</p>
        {% if user.is_authenticated %}<a href="" class="button tiny radius">Edit project</a>{% endif %}
        <hr />
    </div>
</div>
<div class="row">
    <div class="small-12">
        <h4>Project buzz</h4>
        {% if project.buzz.all %}
        {% for buzz in project.buzz.all %}
        <h5>{{buzz.title}}</h5>
        <div class="panel">
            {{buzz.content}}
            <p class="byline">{{buzz.updated_at}} by <a href="{{buzz.author.get_absolute_url}}">{{buzz.author}}</a></p>
        </div>
        {% endfor %}
        {% else %}
        <p><i>There's no buzz about this project, find some fellow workers, and get busy!</i></p>
        {% endif %}
        <p>{% if user.is_authenticated %}<a href="" class="tiny button radius ">Add some buzz</a>{% endif %}</p>
    </div>
</div>

{% endblock %}