{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} Code 4 Maine Dashboard</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'homepage' %}">Code 4 Maine Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if request.user.is_authenticated %}
                <li>
                    Welcome, {{ request.user.worker_set.all.0 }}
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'profile-detail' %}"><i class="fa fa-user fa-fw"></i> Your Profile</a></li>
                        <li><a href="{% url 'account_reset_password' %}"><i class="fa fa-exchange fa-fw"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="new-menu">
                    <ul>
                        <li><a href="{% url 'account_signup' %}"><i class="fa fa-plus fa-fw"></i> Register a new account</a>
                        <li class="divider"></li>
                        <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in fa-fw"></i> Sign in</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                        <a href="{% url 'homepage' %}"><img width=200px; style="argin-bottom:20px; margin-left:12px;" src="{% static 'images/code4maine-logo-small.png' %}"></a>
                        </li >
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{% url 'homepage' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'project-list' %}"><i class="fa fa-star fa-fw"></i> Project directory</a>
                        </li>
                        <li>
                            <a href="{% url 'worker-list' %}"><i class="fa fa-book fa-fw"></i> Worker directory</a>
                        </li>
                        <li>
                            <a>Brigade Projects</a>
                        </li>
                        {% for project in projects %}
                        <li>
                            <a href="{{ project.get_absolute_url }}"><div class="badge" style="background-color:{{project.color}};">{{project.title|slice:":1"}}</div> {{project.title}}</a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="#"><span class="badge">{{technologies|length}}</span> Technology<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {% for obj in technologies %}
                                <li>
                                <a href="{{ obj.get_absolute_url }}"><span class="badge">{{obj.project_count}}</span> {{obj.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><span class="badge">{{topics|length}}</span> Topics<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {% for obj in topics %}
                                <li>
                                <a href="{{ obj.get_absolute_url }}"><span class="badge">{{obj.project_count}}</span> {{obj.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><span class="badge">{{events|length}}</span> Events<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {% for obj in events%}
                                <li>
                                <a href="{{ obj.get_absolute_url }}"><span class="badge">{{obj.project_count}}</span> {{obj.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><span class="badge">{{workers|length}}</span> Workers <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {% for worker in workers %}
                                <li>
                                <a href="{% url 'worker-detail' worker.user.username %}">{{worker}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><span class="badge">{{events|length}}</span> Events<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                {% for obj in events %}
                                <li>
                                <a href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" {% if user.worker.background %}style="background:{{user.worker.background}}"{% endif %}>
            <div class="row">
                <div class="col-lg-12 header">
                    <h1 class="age-header">{% block header_title %}<span class="">Dashboard</span>{% endblock %}&nbsp;<span class="button">Projects</span>&nbsp;Workers</h1>
                    <div class="project-add right"><a class="btn btn-primary"  href="{% url 'project-create' %}"><i class="fa fa-plus"></i> Add a new project</a></div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="{% static 'js/sb-admin.js' %}"></script>

    {% block extra_js %}{% endblock %}


</body>

</html>
