{% extends "base.html" %}

{% block header %}

    <div class="dashboard-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dashboard-message">
                        <h2 class="">Brigade Dashboard</h2>
                        <p>Here you can get an eagle-eye view of what's going on in our brigade.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.dashboard-header -->
{% endblock %}

