{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block full_width %}full_width{% endblock %}

{% block content %}

    <div class="header">
        <div class="box">
            <h1>Code 4 Maine</h1>
	        <h3>Come join developers, designers, data geeks, leaders, and idea-makers who volunteer to help Maine government agencies and civic orgs adopt open web technologies.</h3>
        </div>
    </div>
    
      	<div class="pane">
            <hr />
	        <div class="row" data-equalizer>
	        	<div class="large-2 columns">
                    <h2><a href="{% url 'project-list' %}">Projects</a></h2>
                    <a class="button tiny radius" href="{% url 'project-create' %}"><i class="fa fa-plus"></i> new project</a>
                    <ul class="tabs" data-tab>
                        <li class="tab-title active"><a href="#tech">Tech</a></li>
                        <li class="tab-title"><a href="#topics">Topics</a></li>
                        <li class="tab-title"><a href="#events">Events</a></li>
                    </ul>
                    <ul class="tabs-content">
                        <div id="tech">
                          <ul class="">
                              {% for tech in technologies %}
                              <li><a href="{{tech.get_absolute_url}}">{{tech}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div id="topics">
                          <ul class="">
                              {% for topic in topics %}
                              <li><a href="{{topic.get_absolute_url}}">{{topic}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div id="events">
                          <ul class="">
                              {% for event in events %}
                              <li><a href="{{event.get_absolute_url}}">{{event}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                    </ul>
                    <p>{% if user.is_authenticated %}<a data-reveal-id="myModal" data-reveal-ajax="true" href="{% url 'project-create' %}" class="button tiny radius"><i class="fa fa-plus"></i> Add</a>{% endif %}</p>
	    	</div>
	        	<div class="large-6 medium-6 columns">
                    <h2><a href="">Latest project activity</a></h2>
                    {% for buzz in object_list %}
                    <p class="label success" style="font-size:16pt;">{{buzz.project}}</p>
                    <div class="panel">
                        <p><a href="{{buzz.get_absolute_url}}">{{buzz.title}}</a></p>
                        {{buzz.description|markdown}}
                        <p class="byline">{{buzz.modified}} by <a href="{% url 'worker-detail' buzz.author.username %}">{{buzz.author}}</a></p>
                    </div>
                    {% endfor %}
	        	</div>
	        	<div class="large-3 medium-3 columns">
                    <h3><a href="{ url 'meeting-list' %}">Next Meetup</a></h3>
                    <div>
                        <h5>Hacker Club - Bangor</h5>
                        <p>Thursday, July 3
                        <br/>5:00-8:00 p.m.</p>
                        <p><a href="">RSVP @ meetup.com</a></p>
                        <p><span class="label tiny">1 coming</span></p>
                        <hr />
                    </div>
	        	</div>        
					</div>
      	</div>
      </div>
    </div>

{% endblock %}
